.about-page {
	width: 100%;
	height: fit-content;
	min-height: 90%;

	padding-top: 5%;

	position: relative;

	display: flex;
	flex-direction: column;
}
.about-page h1 {
	max-height: 10vw;

	margin: 0 0 0 5%;
	
	color: #777;

	font-size: 18vw;
	line-height: 15vw;

	pointer-events: none;

	-webkit-transform: translateY(100px) translateZ(1px) scale(.5);
	-moz-transform: translateY(100px) translateZ(1px) scale(.5);
	-ms-transform: translateY(100px) translateZ(1px) scale(.5);
	-o-transform: translateY(100px) translateZ(1px) scale(.5);
	transform: translateY(100px) translateZ(1px) scale(.5);
}
.about-page p {
	max-width: 25em;

	margin: 0 5%;
	padding: 5%;

	background-color: rgba(255, 255, 255, 0.75);

	color: #444;
	text-align: justify;

	z-index: 1;
}
.about-page a {
	color: black;
}
.about-page a:hover {
	text-shadow: 0 0 8px #444, 0 0 8px #444, 0 0 8px #444;
}
.name {
	font-size: 1.3em;
	color: black;
}

.code {
	color: black;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}


#content {
	flex-flow: row wrap;

	/* For parallax effect */
	-webkit-perspective: 2px;
	perspective: 2px;
}

#about-me p {
	align-self: flex-end;
}

#about-site h1 {
	text-align: end;
}

#about-contact p {
	align-self: flex-end;
}