#content {
	flex-direction: row;
}

#title {
	white-space: nowrap;
	font-size: 4em;
	margin: auto 0px auto 40px;
}

#main-scroll {
	display: block;
	height: 3.75em;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	list-style: none;
	padding: calc(50vh - 1.5em) 40px calc(50vh - 2.25em) 40px;
}

/* Hiding scroll bars */
#main-scroll::-webkit-scrollbar { width: 0 !important }
#main-scroll { overflow: -moz-scrollbars-none; }
#main-scroll { -ms-overflow-style: none; }

.def {
	font-size: 3em;
	color: #333;
	text-decoration: none;
	padding-left: 0px;
	-webkit-transition: all 0.5s ease-in-out; /* Chrome and Safari legacy support */
	-moz-transition: all 0.5s ease-in-out; /* Mozilla Firefox legacy support */
	transition: all 0.5s ease-in-out;
}
.def:hover {
	text-shadow: 0 0 7px #333, 0 0 8px #333, 0 0 9px #333, 0 0 10px #333;
}
.selected-transition:hover {
	text-shadow: 0 0 5px #555, 0 0 6px #FFF, 0 0 7px #FFF, 0 0 8px #FFF;
}

/* Will be added using js to currently selected list item to trigger transition */
.selected-transition {
	padding-left: 40px;
	color: white;
	-webkit-transition: all 0.25s ease-in-out; /* Chrome and Safari legacy support */
	-moz-transition: all 0.25s ease-in-out; /* Mozilla Firefox legacy support */
	transition: all 0.25s ease-in-out;
}