.content-project {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content-project h1 a {
	display: flex;

	font-size: 1.5em;
	font-family: 'QuickSand', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 3px 0 black;

	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);

	opacity: 0.87;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.content-project h1 a:hover {
	text-shadow: 2px 7px 0 black;

	-webkit-transform: translateY(-7px);
	-moz-transform: translateY(-7px);
	-ms-transform: translateY(-7px);
	-o-transform: translateY(-7px);
	transform: translateY(-7px);
}
.content-project h1 a:active {
	text-shadow: 0 0 0 black;

	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;

	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.content-container {
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;

	z-index: 1;
}

.content-buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.background-overlay {
	width: inherit;
	height: inherit;

	position: absolute;

	background-color: rgba(0, 0, 0, .2);
}

.background-gallery {
	width: inherit;
	height: inherit;

	position: absolute;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	-webkit-filter: blur(8px);
	filter: blur(8px);
}
.background-gallery video {
	width: calc(100vh * (760 / 914));
	height: 100vh;
}

#nav-bar-container {
	width: 200px;
	height: 100%;
	
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	pointer-events: none;

	z-index: 2;
}

#nav-bar {
	width: auto;
	height: auto;
}
#nav-bar ul {
	margin: 50px 0;
	padding-left: 10px;

	display: flex;
	flex-flow: column nowrap;

	list-style: square;
	
	opacity: .3;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#nav-bar ul:hover {
	padding-left: 30px;

	opacity: 1;
}
#nav-bar ul:hover > li {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#nav-bar ul li {
	height: 100%;

	margin: 4px 24px;

	-webkit-transform: translateX(-210px);
	-moz-transform: translateX(-210px);
	-ms-transform: translateX(-210px);
	-o-transform: translateX(-210px);
	transform: translateX(-210px);

	-webkit-transition: all 0.6s ease-in-out 3s;
	-moz-transition: all 0.6s ease-in-out 3s;
	-ms-transition: all 0.6s ease-in-out 3s;
	-o-transition: all 0.6s ease-in-out 3s;
	transition: all 0.6s ease-in-out 3s;
}
#nav-bar ul li:hover {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
}
#nav-bar ul li:first-child {
	margin-left: 0;
	
	list-style: none;

	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
#nav-bar ul li:first-child a {
	font-size: 1.3em;
}
#nav-bar ul li:first-child:hover {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
}
#nav-bar ul li a {
	width: 100%;

	padding: 4px 20px 4px 0;

	font-size: 1em;
	font-family: 'QuickSand', sans-serif;
	text-decoration: none;
	text-shadow: 0 1px 0 black;

	pointer-events: all;
}

#content {
	flex-direction: column;
}

#chevron-1, #chevron-2 {
	position: absolute;
	left: 50%;

	font-size: 5em;
	font-family: 'QuickSand', sans-serif;
	font-weight: lighter;
	text-decoration: none;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	animation: fadeDelayed 2s ease-in-out infinite alternate;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#chevron-1 {
	top: 62.5%;
}
#chevron-1:hover ~ #chevron-2 {
	text-shadow: 0 0 8px #bbb, 0 0 8px #bbb, 0 0 8px #bbb;
}
#chevron-2 {
	top: 66%;

	animation-delay: .3s;
}

#project-tetris {
	background-color: #9AA680;
}

#project-starField {
	background-color: dimgray;
}

#project-magneticField {
	background-color: cadetblue;
}


@keyframes fadeDelayed {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: .3;
	}
}