#content {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

#index {
	margin-bottom: 0;
	margin-top: 0;

	font-family: 'Quicksand', sans-serif;
	font-size: 8em;
	font-weight: 300;

	text-align: center;
}

#index-underline {
	width: 0;
	margin: 0;

	opacity: 0;
	
	border-width: .15em;
	border-style: solid;
	border-radius: .3em;

	animation: widenFadeIn .5s ease .5s forwards;
}

@keyframes widenFadeIn {
	0% {
		width: 0;
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	100% {
		width: 25em;
		opacity: 1;
	}
}

#content-list {
	list-style-type: none;
	padding: 0;
}

#content-list li {
	opacity: 0;

	text-align: center;
	animation: fadeIn 1s ease forwards;
}

#content-list li:nth-child(1) {animation-delay: .8s}
#content-list li:nth-child(2) {animation-delay: 1s}
#content-list li:nth-child(3) {animation-delay: 1.2s}
#content-list li:nth-child(4) {animation-delay: 1.4s}

#content-list li a {
	font-size: 2em;
	text-decoration: none;
	white-space: nowrap;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}