#display-panel {
	position: relative;

	width: 100%;
	height: 80%;

	/* TODO replace background colour with image */
	background-image: url('https://images8.alphacoders.com/569/569800.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: gray;
}

#panel-overlay {
	position: absolute;

	width: 100%;
	height: 100%;

	background-image: radial-gradient(circle farthest-corner at 0% 30%, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6) 45%, rgba(0, 0, 0, .0) 80%);
}

#content #title {
	margin-left: 5%;
	margin-top: 20%;

	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 8em;

	text-shadow: 3px 3px rgba(0, 0, 0, .8);
}

#project-list {
	display: flex;
	flex-flow: row wrap;

	margin-top: 5%;
	margin-bottom: 15%;

	list-style-type: none;

	justify-content: center;
}

#project-list li {
	margin: 20px;
}

.project-item {
	width: 400px;
	height: 300px;
	border: 2px solid white;
}