/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	margin: 0px auto;
	width: 100%;
	background-color: black;
	font-family: "Orbitron", "Arial", "Sans-Serif";
}
.content {
}


nav, footer {
	z-index: 10;
	width: 100%;
}
/* Top navigation bar */
nav {
	position: sticky;
	top: 0;
}
/* Bottom navigation bar */
footer {
	position: fixed;
	font-size: 0.8em;
	bottom: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
nav ul, footer ul {
	list-style: none;
	padding: 20px;
	margin: 0px;
}
nav ul li, footer ul li {
	display: inline-block;
	margin: 0px 10px;
}
ul.posts { 
	margin: 20px auto 40px; 
	font-size: 1.5em;
}
ul.posts li {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
	-webkit-transition: text-shadow 0.25s; /* Chrome and Safari legacy support */
	-moz-transition: text-shadow 0.25s; /* Mozilla Firefox legacy support */
	transition: text-shadow 0.25s;
}
a:hover {
	text-shadow: 0 0 5px #555, 0 0 6px #FFF, 0 0 7px #FFF, 0 0 8px #FFF;
}



h1 {
	color: #bbb;
	font-size: 2em;
}
p {
	color: #999;
	font-size: 1em;
	line-height: 1.5em;
	font-family: "Raleway", "Arial", "Sans-Serif";
	padding-bottom: 1.5em;
}



canvas {
	position: absolute;
}

.canvas {
	position: absolute;
	top: 0;
}