@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// Light mode colours
$light-text-color:			hsl(0, 0%, 13%);
$light-text-color-light:	hsl(0, 0%, 33%);
$light-background-color:	#fdfdfd;

$light-brand-color:			hsl(327, 100%, 50%);
$light-brand-color-light:	hsl(327, 100%, 80%);
$light-brand-color-dark:	hsl(327, 100%, 30%);

$light-grey-color:			hsl(0, 0%, 60%);
$light-grey-color-light:	hsl(0, 0%, 80%);
$light-grey-color-dark:		hsl(0, 0%, 40%);

// Dark mode colours
$dark-text-color:			hsl(0, 0%, 90%);
$dark-text-color-light:		hsl(0, 0%, 80%);
$dark-background-color:		#000;

$dark-brand-color:			hsl(327, 100%, 50%);
$dark-brand-color-light:	hsl(327, 100%, 30%);
$dark-brand-color-dark:		hsl(327, 100%, 80%);

$dark-grey-color:			hsl(0, 0%, 50%);
$dark-grey-color-light:		hsl(0, 0%, 20%);
$dark-grey-color-dark:		hsl(0, 0%, 60%);

:root {
	--text-color:			#{$light-text-color};
	--text-color-light:		#{$light-text-color-light};
	--background-color:		#{$light-background-color};

	--brand-color:			#{$light-brand-color};
	--brand-color-light:	#{$light-brand-color-light};
	--brand-color-dark:		#{$light-brand-color-dark};

	--grey-color:			#{$light-grey-color};
	--grey-color-light:		#{$light-grey-color-light};
	--grey-color-dark:		#{$light-grey-color-dark};
}

:root[data-theme='dark'] {
	--text-color:			#{$dark-text-color};
	--text-color-light:		#{$dark-text-color-light};
	--background-color:		#{$dark-background-color};

	--brand-color:			#{$dark-brand-color};
	--brand-color-light:	#{$dark-brand-color-light};
	--brand-color-dark:		#{$dark-brand-color-dark};

	--grey-color:			#{$dark-grey-color};
	--grey-color-light:		#{$dark-grey-color-light};
	--grey-color-dark:		#{$dark-grey-color-dark};
}

$table-text-align:	left !default;

// Width of the content area
$content-width:		800px !default;

$on-palm:			600px !default;
$on-laptop:			800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $base-font-size * $ratio;
}

@mixin transitions-all($duration: 0.15s) {
	-webkit-transition:	all $duration ease;
	-moz-transition:	all $duration ease;
	-ms-transition:		all $duration ease;
	-o-transition:		all $duration ease;
	transition:			all $duration ease;
}

@mixin transitions($transition...) {
	-webkit-transition:	$transition;
	-moz-transition:	$transition;
	-ms-transition:		$transition;
	-o-transition:		$transition;
	transition:			$transition;
}

@mixin animation($animation...) {
	-webkit-animation:	$animation;
	-moz-animation:		$animation;
	-o-animation:		$animation;
	animation:			$animation;
}

@mixin display-flex($orientation: row, $justify: center, $align: center) {
	display: flex;
	flex-flow: $orientation nowrap;
	align-items: $align;
	justify-content: $justify;
}

@mixin filter($filter...) {
	-webkit-filter: $filter;
	filter: $filter;
}

@mixin scrollbar(
	$size,
	$thumb-color,
	$thumb-color-hover,
	$thumb-color-active,
	$track-color: mix($thumb-color, white,  50%)) {
	
	// For Google Chrome
	&::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}
	
	&::-webkit-scrollbar-thumb {
		background: $thumb-color;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: $thumb-color-hover;
	}
	&::-webkit-scrollbar-thumb:active {
		background: $thumb-color-active;
	}
	
	&::-webkit-scrollbar-track {
		background: $track-color;
		border: 1px solid $thumb-color;
	}
	
	// For Internet Explorer
	& {
		scrollbar-face-color: $thumb-color;
		scrollbar-track-color: $track-color;
	}
}

// Import partials.
@import
	"minima/base",
	"minima/layout",
	"minima/syntax-highlighting",
	"minima/custom_elements"
;
