---
layout: base
---

<div class="home">
	<div class="header">
		<div class="box">"All the News<br />That's Cool Today!"</div>
		<h1>The Friday Pusher</h1>
		<div class="box2">
			<h2>LION CITY EDITION</h2>
			<div>
				<p>
					Upper Changi: Hot, humid with temps of 28-33°C. Afternoon
					thunderstorms expected. Stay hydrated and keep an umbrella
					handy!
				</p>
			</div>
		</div>
	</div>
	<div class="headerline">
		<p>VOL.MMXXIV.No.69,420</p>
		<p>SINGAPORE,MONDAY,SEPTEMBER 15,2024</p>
		<p style="font-style: normal">X</p>
		<p>5 CENTS</p>
	</div>
	<div class="main-content">
		<div class="about">
			<h1>SOFTWARE DEVELOPER TAKES LEAD</h1>
			<h2>To Know: Full-Stack, Mixed Reality, AI</h2>
		</div>
	</div>
</div>
