---
layout: base
---

<div class="home">
	<div class="header">
		<div class="box">"All the News<br />That's Cool Today!"</div>
		<h1>The Friday Push</h1>
		<div class="box2">
			<h2>LION CITY EDITION</h2>
			<div>
				<p>
					Upper Changi: Hot, humid with temps of 28-33°C. Afternoon
					thunderstorms expected. Stay hydrated and keep an umbrella
					handy!
				</p>
			</div>
		</div>
	</div>
	<div class="headerline">
		<p>VOL.MMXXIV.No.69,420</p>
		<p>SINGAPORE,MONDAY,SEPTEMBER 15,2024</p>
		<p style="font-style: normal">X</p>
		<p>5 CENTS</p>
	</div>
	<div class="headlines">
		<svg viewBox="0 0 284.2 18">
			<text x="0" y="15" font-style="italic">
				SOFTWARE DEVELOPER TAKES LEAD
			</text>
		</svg>
	</div>
	<div class="main-content">
		<div class="sections">
			<div class="summary">
				<div class="section-1">
					<div class="about">
						<h2>
							At a Glance: Full-Stack, Mixed Reality, AI Developer
						</h2>
						<h3>About Me</h3>
						<p>
							SINGAPORE—Software developer, with a keen interest
							in spatial computing, web design, game development,
							extended reality (AR/VR/MR), and Artificial
							Intelligences.
						</p>
						<p>
							3+ years of work experience as a mixed reality
							developer in HelloHolo, delivering multiple projects
							for international clients as the main developer.
						</p>
						<p>
							Fast and organized learner with great patience and
							endurance. Experienced in multitudes of programming
							languages and frameworks, constantly seeking new
							ways to push my skills to the next level.
						</p>
					</div>
					<div class="contact">
						<h3>Find Me</h3>
						<p>Available for full-time position.</p>
						<p>
							LinkedIn:
							<a href="https://www.linkedin.com/in/seahyx/"
								>linkedin.com/in/seahyx/</a
							>
						</p>
						<p>
							GitHub:
							<a href="https://github.com/seahyx"
								>github.com/seahyx</a
							>
						</p>
						<p>
							<a
								href="{{ 'assets/docs/resume.pdf' | relative_url }}"
								target="_blank"
								>Download Resume</a
							>
						</p>
					</div>
				</div>

				<div class="portrait">
					<img
						src="{{ 'assets/img/DSCF3606.JPG' | relative_url }}"
						alt="A photo of Ying Xiang"
					/>
					<figcaption>
						<span class="quote">“</span>
						I love capturing moments with my Fujifilm camera and
						playing my favourite video game OSTs on my piano.
						<span class="quote">”</span>
					</figcaption>
				</div>
			</div>
			<h1 class="section-project-title">Projects</h1>
			<div class="projects"></div>
		</div>

		<div class="sidebar">
			<h2>News Sections</h2>
			<div class="topline"></div>
			<a href="#">Summary</a>
			<div class="line"></div>
			<a href="#">Projects</a>
			<div class="line"></div>
			<a href="#">Gallery</a>
		</div>
	</div>
</div>
