// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
$title-font-size: 7rem;
$sidebar-size: 300px;

.flex {
	display: flex;
}

.background {
	background-color: #f0f0f0;
}

.wrapper-wide {
	max-width: 1600px;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: $spacing-unit / 4;
	margin-bottom: $spacing-unit / 2;

	.box {
		width: 150px;
		min-width: 6rem;
		height: 50px;
		padding: $spacing-unit / 2;
		border: 2px solid black;
		text-align: center;
		align-content: center;
	}

	h1 {
		font-family: $special-font-family;
		font-size: $title-font-size;
		font-weight: normal;
		text-align: center;
		line-height: $title-font-size;
		white-space: nowrap;
		margin-bottom: 0;
	}

	.box2 {
		h2 {
			font-family: $sans-font-family;
			font-weight: 900;
			font-size: 1.4rem;
			line-height: 2;
			white-space: nowrap;
			margin-bottom: 0;
		}
		div {
			display: flex;
			p {
				width: 0;
				margin-bottom: 0;
				flex-grow: 1;
				text-align: justify;
				font-size: 0.75rem;
			}
		}
	}
}

.headerline {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: baseline;
	box-sizing: border-box;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: $spacing-unit / 8;

	p {
		font-style: italic;
		margin-bottom: 0;
	}
}

.headlines {
	h1 {
		font-size: 4rem;
	}
}

.main-content {
	display: flex;
	gap: $spacing-unit;
}

.sections {
	display: flex;
	flex-direction: column;
	gap: $spacing-unit;

	.summary {
		display: flex;
		gap: $spacing-unit;
		justify-content: space-between;

		.section-1 {
			flex: 2;
			font-size: 1.2rem;
			h2 {
				font-size: 2rem;
				text-wrap: balance;
			}
			h3 {
				font-family: $sans-font-family;
				font-weight: 900;
			}
			p {
				text-align: justify;
				text-wrap: balance;
				text-indent: 2.2rem;
			}
		}

		.portrait {
			flex: 1.6;
			img {
				margin-bottom: $spacing-unit / 2;
			}
			figcaption {
				font-style: italic;
				text-align: center;
				text-wrap: pretty;
				font-size: 1.1rem;
				span.quote {
					font-weight: 800;
					font-size: 1.5rem;
				}
			}
		}
	}

	.project-title-container {
		position: relative;
		height: 6rem;
		h1 {
			position: absolute;
			top: 0;
			left: 0;
			right: calc(-#{$sidebar-size} - #{$spacing-unit});
			text-align: center;
			font-size: 5rem;
		}
	}
}

.sidebar {
	flex: 0 0 $sidebar-size;
	h2 {
		font-size: 2rem;
		margin-bottom: $spacing-unit / 4;
	}
	.topline {
		box-sizing: border-box;
		border-top: 2px dotted black;
	}
	.line {
		box-sizing: border-box;
		border-top: 1px solid black;
	}
	a {
		display: flex;
		width: 100%;
		height: 2.5rem;
		align-items: center;
		transition: all 0.2s ease-out;
	}
	a:hover {
		background-color: #00000025;
	}
}
