@font-face {
  font-family: Chomsky;
  src: url(../fonts/Chomsky.otf);
}

@font-face {
  font-family: Vollkorn;
  src: url(../fonts/Vollkorn-VariableFont_wght.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont.ttf);
}
