.flex {
  display: flex;
}

.wrapper-wide {
  max-width: 1600px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .box {
  width: 250px;
  border: 2px solid black;
}
