// Placeholder to allow overriding predefined variables smoothly.
@font-face {
	font-family: Chomsky;
	src: url(../fonts/Chomsky.otf);
}
@font-face {
	font-family: Vollkorn;
	src: url(../fonts/Vollkorn-VariableFont_wght.ttf);
}
@font-face {
	font-family: Inter;
	src: url(../fonts/Inter-VariableFont.ttf);
}

$special-font-family: Chomsky, serif;
$base-font-family: Vollkorn, serif;
$sans-font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
$base-font-weight: 600;
$base-line-height: 1.2;
$base-font-size: 16px;

$spacing-unit: 32px;
