/**
 * Landing page display
 */
.landing {
	position: relative;
	height: 100vh;
	margin-bottom: $spacing-unit;
	
	.img {
		height: 100%;

		background-image: url('/assets/img/landing/calivania-2160.jpg');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include filter(brightness(0.75));

		@include animation(hue-rotate 5s linear 0s infinite);
	}

	.caption {
		position: absolute;
		bottom: 0;
		right: 0;

		margin: $spacing-unit / 3;

		@include relative-font-size(.75);

		color: $dark-grey-color;
	}

	.wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		color: $dark-text-color;

		@include display-flex(column, center, flex-start);

		.clip {
			height: 170px;
			overflow-x: visible;
		}

		h1 {
			margin-bottom: 0;

			font-size: 155px;
			text-shadow: 5px 5px red;

			line-height: 1.15;

			background-color: transparentize($color: blue, $amount: .25);

			@include animation(hue-rotate 5s linear 0s infinite);

			@include media-query($on-laptop) {
				font-size: 20vw;
			}
		}

		h2 {
			margin-bottom: $spacing-unit;

			align-self: flex-end;

			font-size: 18px;
			text-shadow: 2px 2px red;

			background-color: transparentize($color: blue, $amount: .25);

			@include animation(hue-rotate 5s linear 0s infinite);
		}
	}

	@keyframes hue-rotate {
		from {
			@include filter(hue-rotate(0deg))
		}
		to {
			@include filter(hue-rotate(360deg))
		}
	}
}