---
layout: default
---

<article class="post h-entry" itemscope itemtype="https://schema.org/SoftwareSourceCode">

	<header class="post-header">
		<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
	</header>

	<div class='project-desc-wrapper'>
		
		<div class='project-desc' itemprop='description'>{{ page.description | markdownify }}</div>
		
		<p><a href='{{ page.github-link }}' target='_blank' itemprop='codeRepository'>GitHub Repo ⭐</a></p>

		{%- if page.demo-link -%}
			<p><a href='{{ page.demo-link }}' target='_blank' itemprop='url'>Project Demo ▶️</a></p>
		{%- endif -%}
		
	</div>

	<hr>
	<br>

	<div class="post-content e-content" itemprop="about">
		{{ content }}
	</div>

	{%- if site.disqus.shortname -%}
		{%- include disqus_comments.html -%}
	{%- endif -%}

	<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
